.btnprimary {
  // background-color: $bacgroundColor2 !important;
  background: $bacgroundColor2;
  // background: linear-gradient(30deg, $bacgroundColor5, $bacgroundColor6);
  color: $textColor2 !important;
  transition: all 0.2s ease-in;
  transform: translateY(0px);
}
.btnprimary:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.58);
  transform: translateY(3px);
}

.calendar-btn {
  position: fixed;
  right: 100px;
  bottom: 50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.58);
  background-color: $bacgroundColor2;
  color: $textColor2;
  transform: translateY(0px);
  transition: all 0.2s ease-in;
  .calendar-icon {
    font-size: 32px;
  }
}
.calendar-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.58);
  background-color: $bacgroundColor2 !important;
  color: $textColor2 !important;
}

.btn-due {
  position: relative !important;
  left: 42% !important;
  top: -50% !important;
}
// .dataTables_wrapper .dataTables_paginate .paginate_button.current,
// .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
//   color: #fff !important;
//   border: 1px solid $textColor2 !important;
//   background-color: $bacgroundColor2 !important;
//   background: -webkit-gradient(
//     linear,
//     left top,
//     left bottom,
//     color-stop(0%, $bacgroundColor2),
//     color-stop(100%, $bacgroundColor2)
//   ) !important;
//   background: -webkit-linear-gradient(
//     top,
//     $bacgroundColor2 0%,
//     $bacgroundColor2 100%
//   ) !important;
//   background: -moz-linear-gradient(
//     top,
//     $bacgroundColor2 0%,
//     $bacgroundColor2 100%
//   ) !important;
//   background: -ms-linear-gradient(
//     top,
//     $bacgroundColor2 0%,
//     $bacgroundColor2 100%
//   ) !important;
//   background: -o-linear-gradient(
//     top,
//     $bacgroundColor2 0%,
//     $bacgroundColor2 100%
//   ) !important;
//   background: linear-gradient(
//     to bottom,
//     $bacgroundColor2 0%,
//     $bacgroundColor2 100%
//   ) !important;
// }
