.btnprimary {
  // background-color: $bacgroundColor2 !important;
  background: $bacgroundColor2;
  // background: linear-gradient(30deg, $bacgroundColor5, $bacgroundColor6);
  color: $textColor2 !important;
  transition: all 0.2s ease-in;
  transform: translateY(0px);
}
.btnprimary:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.58);
  transform: translateY(3px);
}

.calendar-btn {
  position: fixed;
  right: 100px;
  bottom: 50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.58);
  background-color: $bacgroundColor2;
  color: $textColor2;
  transform: translateY(0px);
  transition: all 0.2s ease-in;
  .calendar-icon {
    font-size: 32px;
  }
}
.calendar-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.58);
  background-color: $bacgroundColor2 !important;
  color: $textColor2 !important;
}

.btn-due {
  opacity: 0;
  transform: scaleY(0);
  position: relative !important;
  left: 42% !important;
  top: 0% !important;
  transition: all 0.3s ease-in-out;
}

.short-btn{
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: 3;
}

.card-body:hover .btn-due {
  opacity: 1;
  transform: scaleY(1);
  position: relative !important;
  left: 42% !important;
  top: -50% !important;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}