$bacgroundColor1: #edf2f4;
$bacgroundColor2: #284b63;
$bacgroundColor3: #fff0d1;
$bacgroundColor4: #d1e0ff;
$bacgroundColor5: #ee0979;
$bacgroundColor6: #ff6a00;

$bacgroundColor7: #8e0e00;
$bacgroundColor8: #1f1c18;

$textColor1: #353535;
$textColor2: #faf9f9;
$textColor3: #feb21d;
$textColor4: #eb5e28;
$gray1: #f5f3f4;
